@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Body Start */
body {
	background-color: #EAEAEA;
	font-family: 'Noto Sans KR', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}
/* Body End */
/* Navbar Start */
.form-control {
	font-size: 14px;
}
@media screen and (max-width: 994px) {
	.navbar-nav {
		text-align: center;
	}
}
/* Navbar End */
/* Row Cart Start */
.row-product{
	background-color: #fff;
	margin: 0;
	padding: 5px;
	padding-top: 16px;
}
/* Row Cart End */
/* Checkout Table Start */
#table-checkout{
	width: 40%;	
}
/* Checkout Table End */
/* Responsive Table Checkout Start */
@media only screen (min-width: 768px) {
/* Checkout Table Start */
	#table-checkout{
		width: 40%;	
	}
/* Checkout Table End */
}
/* Responsive Table Checkout End */