@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
	background-color: #EAEAEA;
	font-family: 'Noto Sans KR', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}
.form-control {
	font-size: 14px;
}
@media screen and (max-width: 994px) {
	.navbar-nav {
		text-align: center;
	}
}
